[submodule "ratadns-packet-analyzer"]
	path = ratadns-packet-analyzer
	url = https://github.com/niclabs/ratadns-packet-analyzer.git
[submodule "ratadns-filters"]
	path = ratadns-filters
	url = https://github.com/niclabs/ratadns-filters
